.pdf-download {
    text-decoration: none;
    padding: 8px 0px;
    margin: 16px 0;
    border: solid 1px #ecebed;
    background-color:white;
    display: flex;

    .title {
        font-size: 14px;
        font-weight: bold;
    }
    
    &:before {
        margin:4px 12px 0 12px;

        content: url('/svg/files-icon-pdf.svg');
    }

    &:after {
        position: relative;
        content: url('/svg/download.svg');
        margin-left: auto;
        right: 12px;
        top: 8px;
    }

    img {
        padding: 0 16px;

    }

    &:hover {
        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
    }
}

.sub-title {
    text-decoration: none;
    color: #929db3;

    &-10 {
        font-size: 10px;
    }
    &-12 {
        font-size: 12px;
    }
    &-14 {
        font-size: 14px;
    }
}

.accordion {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    padding: 16px;
    background-color:white;
    box-shadow: 0 1px 2px 0 rgba(150, 156, 160, 0.16);

    &:after {
        content: ' ';
        padding-left:10px;
        color:$red;
        font-weight: normal;
        margin-left: auto;
    }

    &--closed {
        &:after {
            content: '+';
        }
        margin-bottom:8px;
    }

    &--open {
        &:after {
            content: "–";
        }
    }
}

.panel {
    display: flex;
    padding-bottom:8px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(150, 156, 160, 0.16);
    margin-bottom:8px;

    &--closed {
        display: none;
    }       
}


.page-list {
    list-style: none;
    width:100%;


    li.page {
        font-size: 14px;
        font-weight: normal;
        padding: 16px 32px;


        &--active {
            font-weight: bold;
        }

        a {
            text-decoration: none;
        }
    }


}