


.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 16px;
    border-radius: 2px;
    border: none;
    cursor: pointer;

    &:hover {
        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
    }
}

.btn-primary {
    background-color: $red;
    color:white;

    &-sm {
        padding: 12px 16px;
    }
}

.btn-secondary {
    background-color: white;

    &-sm {
        background-color: $blue-dark;
        color:white;
        padding: 12px 16px;
    }
}

.btn--disabled {
    @extend .btn;
    opacity: 0.25;
}
