.language-select {
    cursor: pointer;
    height: 16px;
    padding: 0 20px 0 30px;
    font-size: 16px;
    margin:8px 0 16px 8px;
    border: none;
    background-image: url('../svg/globe.svg');
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-size: 14px;

    &::after {
        padding-left:8px;
        content: '\25BE';
    }
    &--open {
        &:after {
            display: inline-block;
            transform: rotate(180deg) translate(-6px,-2px);
        }
    }


}

.language-select-options {
    position: absolute;
    list-style: none;
    box-shadow: 0 5px 20px 0 rgba(146, 157, 179, 0.21);


    &--hidden {
        visibility: hidden;
    }
}

.language-select-option {
    text-decoration: none;
    color: $blue-dark;
    display: flex;
    min-width: 200px;
    padding: 13px 24px;
    background-color:white;

    &--selected {
        &:after {

            margin-left:auto;
            content: url('../svg/checkmark.svg');
            background-size: 11px 11px;
            background-position: 0px;
            height: 11px;
            width: 11px;
        }
    }

    &:hover {
        background-color: #f0efef;
    }
}