/* Color palette */
$red: #d73f3f;
$red-light: #ffeded;
$orange: #faa71e;
$blue-dark: #2c3038;
$blue-light: #929db3;
$blue-grey: #68707f;
$grey-border: #ecebed;
$grey-light: #e1e0e0;
$menu-background: #f4f5f6;
$tan: #f0efef;


/* font */
$barlow: 'Barlow Condensed', sans-serif;