@import 'variables';
@import 'search';
@import 'language-select';
@import 'accordion';
@import 'buttons';
@import 'next-page';
@import 'article';
@import 'doc-select';
@import 'toc';
@import 'menu';

@import 'resets';

* {
    margin: 0;
    padding: 0;
    color: $blue-dark;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Archivo; 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 74px;
  line-height:74px;
  box-shadow: 0 1px 0 0 $grey-light;
  font-family: Barlow;
  z-index: 999;

  &__container {
      width:100%;
      margin: 0 16px;
      display: flex;
      .title {
        font-size: 22px;
        font-weight: 500; 
    }
  }
}

.main {
  display:flex;
  flex-direction: row;
  flex: 1;
  height: calc(100% - 74px);
}

.intro {
  flex: 1;
  margin:  40px 135px 0 135px;
  padding-bottom: 40px;
  line-height: 1.75;
}

.menu {
  flex: 2;
  background-color: $menu-background;
  overflow-y: auto;

  &__container {
    display: flex;
    flex-direction: column;
      margin:17px;
  }
}

.article {
  flex: 5;
  overflow-y: auto;

  &__container {
    margin: 56px 71px; 
  }
}

.toc {

  flex: 2;
  overflow-y: auto;

  &__container {
    margin:25px;
    display: flex;
    flex-direction: column;
  }
}

.toc-item {
  height: 16px;
  line-height: 16px;
  padding: 10px 0;
}

.download-icon {
  margin-right: 8px;
  vertical-align: middle;
  width: 13px;
  height: 16px;
}

.edit-icon {
  margin-right: 8px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.title {
    font-family: Barlow;
    font-weight: 500;
}

.site-title {
  margin-left: 8px;
}

.hotosm-link {
    display: flex;
    margin-left: auto;
    text-decoration: none;
    font-size:12px;
    color:$red;

    &:after {
        padding: 0 6px;
        content: url('/svg/external-link-red.svg');
        background-size: 11px 11px;
        height: 11px;
        width: 11px;
      }
}

.nav-item  {
    display: flex;
    cursor: pointer;
    color:$blue-dark;
    font-size: 18px;
    margin: 0 22px;
    height: 18px;
    line-height: 18px;
    padding: 28px 0 6px 0;

    &:hover {
      border-bottom: 2px solid #2c3038;
    }
}

.hamburger-icon {
  display: none;
  padding: 24px 0;
  width: 24px;
  height: 16px;
  content: ' ';
  background-image: url('/svg/hamburger.svg');
  background-position-y: 22px;
  background-repeat: no-repeat;
}


.browse-link {
  text-decoration: none;
  color: $blue-dark;

  &:hover {
    color: $red;
  }
}

$arrow-transform-up: translate(0px,3px);
$arrow-transform-down: rotate(-180deg) translate(-1px,2px);

.browse-select__arrow {

    -moz-transform: $arrow-transform-up;
    -ms-transform: $arrow-transform-up;
    -o-transform: $arrow-transform-up;
    -webkit-transform: $arrow-transform-up;
    transform: $arrow-transform-up;   
    &--rotated {
        -moz-transform:$arrow-transform-down;
        -ms-transform: $arrow-transform-down;
        -o-transform: $arrow-transform-down;
        -webkit-transform: $arrow-transform-down;
        transform:$arrow-transform-down;  
    }
}

.help {
    text-decoration: none;
}

.toc-divider {
  border: none;
  height: 1px;
  color:#e1e0e0;
  background-color: #e1e0e0;
  margin: 12px 0 68px 0;
}


@media screen and (max-width: 768px) {

  body {
    height: 100%;
  }

  .main {
    flex-direction: column;
  }

  .menu {
    flex: 1;
    overflow:visible;
  }

  .header {
    height: 60px;
    line-height: 60px;
  }

  .browse-select {
    display: none;
  }

  .help {
    display: none;
  }

  .hotosm-link {
    display: none;
  }

  .hamburger-icon {
    display:block;
    margin-left: auto;
  }

  .article {
    flex: 1;
    overflow:visible;
    word-break: break-all;
  }

  .article__container {
    margin: 0 22px;
  }

  .toc {
    overflow:visible;
  }

  .toc-list {
    display: none;
  }
}