

<h2 class="title">{{ .Site.Title }}</h2> 
{{ if .Site.IsMultiLingual }}
<div>
    {{ $defaultLang := .Site.Params.DefaultContentLanguage }}
    {{ $currentLang := .Site.Language.Lang}}
    <div class="js-language-select language-select">
        {{ range .Site.Languages }}
            {{ if eq $currentLang .Lang }}
                {{ .LanguageName }} 
            {{ end }}
        {{ end }}
    </div>
    <ul class="js-language-select-options language-select-options language-select-options--hidden">
            {{ range .Site.Languages }}
            {{ if eq .Lang $defaultLang }}
        <a href="/" class="language-select-option 
        {{ if eq .Lang $currentLang }}
        language-select-option--selected
        {{ end }}
        ">{{ .LanguageName }}</a>
        {{ else }}
        <a href="/{{.Lang}}" class="language-select-option
        {{ if eq .Lang $currentLang}}
        language-select-option--selected
        {{ end }}
        ">{{ .LanguageName }}</a>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
<input class="search" type="text" placeholder="Search documentation">

<div class="accordion accordion--closed">
    Foo
</div>
<div class="panel panel--closed">
    <ul class="page-list">
        <li class="page">Page 1</li>
        <li class="page">Page 2</li>
        <li class="page">Page 3</li>
    </ul>
</div>

<div class="accordion accordion--closed">
        Data Collection and Field Mapping
    </div>
    <div class="panel panel--closed">
        <ul class="page-list">
            <li class="page"> <a href="">Page 1</a> </li>
            <li class="page">Page 2</li>
            <li class="page">Page 3</li>
        </ul>
    </div>

    

<a class="pdf-download"  
    {{ if .Site.IsMultiLingual }}
    href="/pdfs/{{.Site.Language.Lang}}/{{ replace .Site.Title " " "_" }}.pdf">
    {{ else }}
    href="/pdfs/{{ replace .Site.Title " " "_" }}.pdf">
    {{ end }}

    <div>
        <div class="title">Download the entire file</div>
        <div class="sub-title sub-title-12">pdf</div>
    </div>
</a>