

{{ $currentPage := .Page}}
<h2 class="title">{{ .Site.Title }}</h2> 
{{ if .Site.IsMultiLingual }}
<div>
    {{ $defaultLang := .Site.Params.DefaultContentLanguage }}
    {{ $currentLang := .Site.Language.Lang}}
    <div class="js-language-select language-select">
        {{ range .Site.Languages }}
            {{ if eq $currentLang .Lang }}
                {{ .LanguageName }} 
            {{ end }}
        {{ end }}
    </div>
    {{ $siteParams := .Site.Params}}
    <ul class="js-language-select-options language-select-options language-select-options--hidden">
            {{ range .Site.Languages }}
            {{ $langPath := printf "/%s" $currentLang}}
            <li>
            {{ if eq .Lang $defaultLang }}
        <a href="{{ $siteParams.SiteURL }}{{ replace $currentPage.RelPermalink $langPath "" }}" class="language-select-option 
        {{ if eq .Lang $currentLang }}
        language-select-option--selected
        {{ end }}
        ">{{ .LanguageName }}</a>
        {{ else }}
        <a href="{{ $siteParams.SiteURL }}{{ if ne .Lang $currentLang }}{{"/"}}{{ .Lang }}{{ end }}{{ $currentPage.RelPermalink }}" class="language-select-option
        {{ if eq .Lang $currentLang}}
        language-select-option--selected
        {{ end }}
        ">{{ .LanguageName }}  </a>
        {{ end }}
    </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ $scratch := newScratch }}
{{ $scratch.Add "lunr-langs" (slice "da" "de" "en" "es" "fi" "fr" "hu" "it" "ja" "jp" "nl" "no" "pt" "ro" "ru" "sv" "th" "tr") }}
{{ if in ($scratch.Get "lunr-langs") .Site.Language.Lang }}

<input class="search" type="text" placeholder="{{ i18n "search-documentation" }}">
<div class="search-results">
    <ul class="results-list"></ul>
</div>
{{ end }}

{{ $currentSection := .Page.Parent}}
{{ range .Site.Sections }}
    {{ range .Sections}}

        <div class="
        {{if eq $currentSection .Page}}
        accordion accordion--open
        {{ else }}
        accordion accordion--closed
        {{end}}
        ">
            {{ .Page.Title }}
        </div>
        <div class="panel
        {{if eq $currentSection .Page}}
        panel--open
        {{ else }}
        panel--closed
        {{end}}">
                <ul class="page-list">
                    {{ range .Pages }}
                        <li class="page"><a href="{{ .Page.Permalink }}" class="menu-link{{ if eq $currentPage .Page}} menu-link--active{{ end }}">{{ .Page.Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
    {{ end }}
{{ end }}
<a class="pdf-download"  
    {{ if .Site.IsMultiLingual }}
    href="/pdfs/{{.Site.Language.Lang}}/{{ replace .Site.Title " " "_" }}.pdf">
    {{ else }}
    href="/pdfs/{{ replace .Site.Title " " "_" }}.pdf">
    {{ end }}

    <div>
        <div class="title">{{ i18n "download-the-entire-file" }}</div>
        <div class="sub-title sub-title-12">pdf</div>
    </div>
</a>