
{{$parent := .Page.Parent}}
{{ $idx := 0 }}
{{ range $index, $element := .Page.Parent.Parent.Pages }}
    {{ if eq $element $parent }}
    {{ $idx = add $index 1 }} 
    {{ end }}
{{ end }}
{{ $pages := index .Site.Sections 0 }}
{{ $nextSection := index $pages.Sections $idx }}

{{if .PrevInSection }}
<a class="next-page" href="{{.PrevInSection.Permalink}}">
    <div class="next-page__container">
            <div class="sub-title sub-title-10">{{ i18n "read-next" | upper }}</div>
            <div class="next-title">{{.PrevInSection.Title}}</div>
    </div>
    <img src="/svg/forward-arrow.svg" alt="">
</a>
{{ else if $nextSection }}
{{ $nextPage := index $nextSection.Pages 0 }}
<a class="next-page" href="{{$nextPage.Permalink}}">
    <div class="next-page__container">
            <div class="sub-title sub-title-10">{{ i18n "read-next" | upper }}</div>
            <div class="next-title">{{$nextPage.Title}}</div>
    </div>
    <img src="/svg/forward-arrow.svg" alt="">
</a>
{{end}}