<div class="toc__container">
    {{- partial "toc-list.html" -}}

<hr class="toc-divider">

    <a href="{{ .Site.Params.GithubRepo }}/edit/master/content/" class="sub-title sub-title-12 toc-item"> <img src="/svg/pencil.svg" class="edit-icon" alt="">  Edit this page on github</a>
            <a 
            {{ if .Site.IsMultiLingual }}
            href="/pdfs/{{.Site.Language.Lang}}/{{ .File.TranslationBaseName }}.pdf"
            {{ else }}
            href="/pdfs/{{ .File.TranslationBaseName }}.pdf"
            {{ end }}
            class="sub-title sub-title-12 toc-item"> <img src="/svg/download.svg" class="download-icon" alt="">Download this page</a>
</div>